
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  /*sans-serif is the "fallback font"
/*   fhref="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" */
}



[hidden] {
  display: none !important;
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}

/* adjust typography defaults */
body {
  margin: 10px;
  font-family: "Open Sans";
  line-height: 1.5;
  background-color: white;
  color: black;
  width: 900px;
}

.container {
  background-color: #eeeeee;
  position: relative;
  border: 1px solid black;
}

.image {
  margin-left: 10px;
  position: relative;
}
/*  creating flex boxes for the description section. 1 parent box and 2 children boxes. The parent box is the overall box containing all of the content above the canvas.*/
.flex-container {
  display: flex;
  /*   border: 2px solid black; */
  max-width: 1000px;
  
  margin-left: 20px;
}
/*  this child box is for the left side of the canvas containing the image and the caption*/
#flex-container .side1 {
  flex: 1 1 0;
  flex-wrap: wrap;
}
/*  this child box is for the right side of the canvas with the intro paragraphs and legend*/

#flex-container .side2 {
  flex: 1 1 0;
  flex-wrap: wrap;
  flex-grow: 0;
  /* border: 2px solid black; */
}


#flex-container .side3 {
  flex: 1 1 0;
  flex-wrap: wrap;
  flex-grow: 0;
}
#flex-container .side4 {
  flex: 1 1 0;
  flex-wrap: wrap;
  flex-grow: 0;
}


.title {
  font-family: 'Limelight', sans-serif;
  font-style: 900;
  font-weight: bold;
  font-size: 36px;
  line-height: 110%;
  margin: 20px;
  position: relative;
  color: white;
  /* margin-left: 100px; */
}

.heading {
  font-family: "Limelight", sans-serif;
  margin: 20px;
  /* margin-left: 100px; */
  font-size: 24px;
  
}

.sub-heading {
  /* margin-left: 100px; */
  font-family: "Limelight", sans-serif;
  font-style: 900;
  font-weight: bold;
  font-size: 18px;
  line-height: 105%;
  margin: 20px;
  position: relative;
  color: white;
}

.intro-text {
  /* text-align: center; */
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color:#82204a;
}

.main-text {
  /* text-align: center; */
  margin-left: 10px;
  margin:20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.legend-heading {
  margin-left: 100px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: 900;
  font-weight: bold;
  font-size: 18px;
  line-height: 105%;
  /* margin: 20px; */
  position: relative;
  color: black;
}

.legend-text {
  margin-left: 100px;
  font-size: 14px;
  margin-left: 10px;
}

.dot_pass {
  height: 20px;
  width: 20px;
  background-color: #558c8c;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  margin-top:35px;
}

.dot_fail {
  height: 20px;
  width: 20px;
  background-color: #82204a;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  margin-top: 5px;
}

.dot_nowomen {
  height: 20px;
  width: 20px;
  background-color: #231123;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  margin-top: 5px;
}

.circle_small {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  margin-left:50px;
}

.circle_med {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.circle_large {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.legend-text-2{
  /* margin-left: 100px; */
  font-size: 14px;
  margin-left: 60px;
}
/* .bg > rect {
  cursor: move;
}
.bg.grabbing > rect {
  cursor: grabbing;
}
.bg.scaling > rect {
  cursor: zoom-in;
} */

.tooltip {
  /* display: inline;
  position: fixed; */
  position: absolute;
  padding: 10px;
  background-color: #fff;
  /* border: 1px solid #000; */
  border-radius: 5px;
  pointer-events: none;
}

.header {
  width: 100%;
  padding:20px 0;
  text-align: left;
  background: #82204a;
  color: white;
}

.section-header-1 {
  width: 100%;
  /* padding:px 0; */
  text-align: left;
  background: #82204a;
  color: white;
  margin-top: 0px;
}
.section-header-2 {
  width: 100%;
  /* padding:px 0; */
  text-align: left;
  background: #82204a;
  color: white;
}

.divider-line {
  border-left: 2px solid #82204a;
  height: 600px;
  position: absolute;
  left:31.6%;
  /* margin-left: -3px; */
  top: 100;
}